.user-row {
    align-items: center;
    text-align: center;
}

// .user-row {
// }
// .user-infos {
//     display: flex;
//     flex-direction: row;
//     text-align: center;
//     align-items: center;
//     justify-content: space-around;
//     flex-wrap: wrap;
// }
// .user-infos > * {
//     flex: 1 1 0;
// }
// .user-info {
//     display: flex;
//     flex-direction: column;
// }

// .users-btn {
//     display: flex;
//     flex-direction: row;
//     text-align: center;
//     align-items: center;
// }

.admin_handler {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin_handler_input {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    width: 47.5%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.italic {
    font-style: italic;
}
