.events {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    height: max-content;
}
.content {
    min-height: 100vh;
    position: relative;
    padding-bottom: 175px;
}
#searchBar {
    height: 35px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border: none;
    margin-bottom: 20px;
    text-align: center;
}

.searchBar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
