.carousel .thubs {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.carousel .thub {
    margin: 0 5px;
    cursor: pointer;
}

.carousel .overlay {
    width: 80%;
    position: absolute;
    top: 30%;
    transform: translateY(-30);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    color: #fff;
    text-align: center;
}

.carousel .overlay__title {
    margin: 0.8rem 0 1rem 0;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.515);
}

.carousel .overlay__text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.515);
}

@media screen and (max-width: 700px) {
    .carousel .overlay__title {
        font-size: 40px;
    }
    .carousel .overlay__text {
        font-size: 25px;
    }
}
@media screen and (min-width: 701px) {
    .carousel .overlay__title {
        font-size: 5vw;
    }
    .carousel .overlay__text {
        font-size: 2vw;
    }
}

.carousel .overlay__text {
    font-size: 30px;
}

html,
body,
#root,
.app {
    width: 100%;
    height: 100%;
    margin: 0;
}

.carousel-wrapper,
.carousel,
.carousel > .slider-wrapper,
.carousel > .slider-wrapper > .slider {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.image-container {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
