.produit {
    padding: 40px;
}
.shop-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.shop-btn,
.btn-valid {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: fit-content;
    border-radius: 10px;
    margin-top: 10px;
}
.btn-cart,
.btn-products,
.btn-valid {
    border: none;
    background-color: rgb(109, 157, 64);
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    &:hover {
        background-color: rgb(77, 111, 46);
    }
}

.btn-cart {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.btn-products {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.produits {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    height: max-content;
}

.produitcard {
    max-width: 350px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0;
}

.Card {
    min-height: 100%;
}
.produitCardText {
    margin-bottom: 50px;
}
.cardBody {
    position: relative;
}
.produitButton {
    position: absolute;

    margin-bottom: 20px;
    bottom: 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}
.item {
    width: 250px;
    border: none;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    img {
        max-height: 150px;
    }
    CardBody {
        border: solid 1px black;
    }
    .content {
        float: left;
    }
    Button {
        float: right;
    }
}

.no-product {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panier_vide {
    height: 75px;
    width: 75px;
}
