.form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: 24px;
        font-family: "Open Sans", sans-serif;
    }

    .content {
        display: flex;
        flex-direction: column;

        .image {
            width: 21em;
            img {
                margin-top: 15%;
                width: 100%;
                height: 100%;
                padding-right: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
        }

        .form-container {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form-container-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // width: fit-content;
                label {
                    margin-top: 2%;
                    font-size: 20px;
                }
                input {
                    margin-top: 6px;
                    min-width: 18em;
                    height: 37px;
                    padding: 0px 10px;
                    font-size: 16px;
                    font-family: "Open Sans", sans-serif;
                    background-color: #f3f3f3;
                    border: 0;
                    border-radius: 4px;
                    // margin-bottom: 31px;
                    transition: all 250ms ease-in-out;

                    &:focus {
                        outline: none;
                        box-shadow: 0px 0px 12px 0.8px rgb(81, 118, 46);
                    }
                }
            }
        }
    }

    .footer {
        // margin-top: 3em;
    }
}

.btn {
    margin-bottom: 10px;
    color: rgb(109, 157, 64) !important;
    &:hover {
        text-decoration: underline !important;
        color: rgb(81, 118, 46) !important;
    }
}
