* {
    text-decoration: none;
}

.navbar {
    background-color: white;
    z-index: 2;
}

.icon {
    height: 50px;
    width: 50px;
}

.navlink {
    color: rgb(37, 42, 45);
    padding-left: 10px !important;
}

.navlink:active {
    background-color: rgb(109, 157, 64) !important;
    color: white !important;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.active {
    background-color: rgb(109, 157, 64) !important;
    color: white !important;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.active:hover {
    background-color: rgb(81, 118, 46) !important;
    transition: all 0.5s;
}

.log_icon:hover {
    cursor: pointer;
}

.admin-link:active {
    background-color: rgb(109, 157, 64) !important;
    color: white !important;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
