.eventCard {
    max-width: 350px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0;
}

.Card {
    min-height: 100%;
}
.eventCardText {
    margin-bottom: 50px;
}
.cardBody {
    position: relative;
}
.eventButton {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
}
