.profil-page {
    textarea,
    .born-date {
        margin: 0;
    }
    margin: 80px auto 0;
    max-width: 1200px;
    .role {
        color: gray;
    }
    .icons {
        top: 55px;
    }
    .img-container {
        display: grid;
        align-items: center;
        height: 100%;

        img {
            height: 280px;

            @media screen and(max-width: 1050px) {
                height: 220px;
            }
            @media screen and(max-width: 950px) {
                height: 200px;
            }
            @media screen and(max-width: 885px) {
                display: none;
            }
        }
    }
    .update-container {
        display: grid;
        grid-template-columns: 50% 50%;

        @media screen and(max-width: 700px) {
            grid-template-columns: 1fr;
        }

        > div {
            background: white;
            box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
            border-radius: 20px;
            padding: 25px;
            margin: 20px 10px;

            @media screen and(max-width: 700px) {
                margin: 10px 10px;
            }
        }
        .left-part {
            text-align: center;

            h3 {
                margin-bottom: 12px;
            }

            img {
                height: 180px;
                width: 180px;
                border-radius: 46px;
                object-fit: cover;
                margin-bottom: 30px;
                box-shadow: 0 0 6px rgba(51, 51, 51, 0.363);
            }
            form {
                position: relative;

                label {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    width: 270px;
                    //background: $color-3;
                    //color: $color-2;
                    border-radius: 20px;
                    display: inline-block;
                    padding: 9px 0;
                    transition: 0.2s;
                    z-index: 10;
                    cursor: pointer;
                }
                input[type="file"] {
                    display: none;
                    position: absolute;
                    opacity: 1;
                    transform: translate(-3px, -50%);
                    cursor: pointer;
                    padding: 10px 20px;

                    @media screen and(max-width: 1121px) {
                        opacity: 0;
                    }
                }
                input[type="submit"] {
                    margin-top: 10px;
                    border-radius: 20px;

                    &:hover {
                        letter-spacing: 1px;
                    }
                }
            }
        }
        .right-part {
            text-align: center;
            padding: 20px 40px;
            h3 {
                margin-bottom: 12px;
            }
            p,
            textarea,
            .born-date {
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff,
                    0 1px 0 #fff;
                outline: 0;
                background-color: rgba(100, 157, 46, 0.317);
                min-height: 80px;
                border: none;
                border-radius: 20px 20px 6px 20px;
                padding: 10px 20px;
                font-size: 1.1rem;
                margin-bottom: 20px;
                width: 100%;
                margin-top: 0 !important;
            }
        }
    }
    .custom-btn {
        box-shadow: 0 0 6px rgba(51, 51, 51, 0.363);
        text-transform: uppercase;
    }
    .change-img {
        background: rgb(109, 157, 64);
        color: #fff;
        &:hover {
            background: rgb(81, 118, 46);
        }
    }
}
