footer {
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    background-color: rgba(136, 155, 98, 0.707);
}
.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100%;
}
.footer-content > * {
    flex: 1 1 0;
    margin: 0 20px;
}

.pion_blanc {
    height: 100px;
}

.footer p {
    color: white;
    font-size: 30px;
}

.left-footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.middle-footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 30%;
}
.medias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.right-footer {
    min-width: fit-content;
}

.right-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.right-footer ul {
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 100%;
}
.right-footer ul li {
    list-style-type: disc !important;
    list-style: disc;
}
.lien {
    font-size: 20px;
    color: white;

    &:hover {
        color: white;
    }
}
.media {
    width: 50px;
    height: auto;
    &:hover {
        cursor: pointer;
    }
}
